* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-column: 2 / span 2;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #ff7755;
  display: grid;
  gap: 50px;
  grid-row: 1 / span 3;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #ff7755;
  display: grid;
  grid-column: 2 / span 2;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.projects {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.projects p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.projects .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

.menu {
  align-self: center;
}
.logo {
  justify-self: start;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

.side-content,
.photo {
  align-items: center;
  display: grid;
}

.nav ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-column: 2 / span 2;
}

.projects > .card {
  height: 200px;
}

.searchBar {
  border-radius: 1.625rem;
  border: none;
  border-width: 0;
  border: 0 properties;
}

.navButton {
  border-radius: 1.625rem;
  border: none;
  border-width: 0;
  border: 0 properties;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.rightBar {
  display: grid;
}

.trendingBar {
  display: grid;
}
/*
### Self Check
- The header and footer span across both columns
- The sidebar only spans across the first column
- The nav and article elements only span across the second column
*/
